.margin {
  margin-left: 5px;
  margin-top: 10px;
}

.mat-card {
  margin: 10px;
}

.mat-list {
  background: rgb(238, 238, 238);
  padding: 1em;
  margin-bottom: 7px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 1em;
}

p {
  font-weight: bold;
  margin: 0;
  margin-left: 10px;
}
img {
  border-radius: 50%;
}

.mat-flat-button {
  margin-top: 0;
  margin-left: 18px;
}
.mat-icon {
  height: 128px;
  width: 128px;
}
